<%= javascript_include_tag "https://unpkg.com/leaflet/dist/leaflet.js" %>
<%= stylesheet_link_tag "https://unpkg.com/leaflet/dist/leaflet.css" %>
<%= javascript_include_tag "https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js" %>
<%= stylesheet_link_tag "https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" %>
<%= stylesheet_link_tag "https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" %>
<div class="container-fluid py-2">
  <div class="col-md-12">
    <% if notice %>
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
  <div class="col-md-12">
    <div id="map" style="height: 90vh;"></div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', 'https://raw.githubusercontent.com/akq/Leaflet.DonutCluster/master/src/Leaflet.DonutCluster.js', true);

    xhr.onreadystatechange = function () {
      if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
        eval(this.responseText); // Load the DonutCluster script

        var map = L.map('map').setView([7.3697, 12.3547], 6); // Central coordinates for Africa
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        function getRandomColorName() {
          const colorNames = [
            "Red", "Green", "Blue", "Yellow", "Cyan", "Magenta", "Orange", "Purple",
            "Pink", "Brown", "Black", "White", "Gray", "Indigo", "Violet", "Olive",
            "Maroon", "Navy", "Teal", "Lime", "Aqua", "Silver", "Gold", "Coral",
            "Turquoise", "Beige", "Salmon", "Lavender", "Mint", "Peach"
          ];
          const randomIndex = Math.floor(Math.random() * colorNames.length);
          return colorNames[randomIndex];
        }

        function addMarkersToMap(data_activities, categories) {
          var arcColorDict = {};
          if (categories) {
            categories.forEach(category => {
              arcColorDict[category] = getRandomColorName();
            });
          }

          let markers = L.DonutCluster({
            chunkedLoading: true
          }, {
            key: 'activite_principale',
            arcColorDict: arcColorDict
          });

          data_activities.forEach(data_activity => {
            var marker = L.marker([data_activity.lat, data_activity.lng])
              .bindPopup("<b>" + data_activity.activite_principale + "</b><br>" + data_activity.ville);
            markers.addLayer(marker);
          });

          map.addLayer(markers);
        }

        fetch('/api/v1/data_activities')
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            if (data.data_activities && Array.isArray(data.data_activities)) {
              addMarkersToMap(data.data_activities, data.categories);
            } else {
              console.error('Data format error: Expected data_activities array');
            }
          })
          .catch(error => {
            console.error('Error fetching or parsing data:', error);
          });
      }
    };
    xhr.send(null);
  });
</script>
