<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Carte interactive des entreprises africaines" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <%= link_to root_path, class: 'navbar-brand px-2' do %>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Georeferenced_observation.png/828px-Georeferenced_observation.png?20231130123035" width="40" height="40" alt="Weebi">
          <% end %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "Import", new_import_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Jobs", mission_control_jobs_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Admin", rails_admin_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "DB", rails_db_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to current_user.email, root_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link text-danger" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="col-md-6 mx-auto">
        <% if notice %>
          <div class="alert alert-primary alert-dismissible fade show py-2" role="alert">
            <%= notice %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-warning alert-dismissible fade show py-2" role="alert">
            <%= alert %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      </div>
    </div>

    <div class="main-hero">
      <%= yield %>
    </div>
  </body>
</html>
